#ifndef _config_

#define API_IP        "192.168.0.100"
#define API_PORT      "8080"
#define API_IP_PORT   API_IP ":" API_PORT

#define WIFI_SSID     "Fibertel Wifi153 2.4GHz"
#define WIFI_PASSWORD "34250596356318"

#define _config_
#endif
